.breadcrumb-item+.breadcrumb-item::before {
  display: none;
}

.breadcrumb {
  --bs-pagination-bg: inherit;
  --bs-pagination-border-width: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 24px;

  

  @media(max-width: 585px) {
    padding-top: 8px;
  }
}

.breadcrumb-margin-bottom {
  margin-bottom: 56px;
  @media(max-width: 1176px) {
    margin-bottom: 48px;
  }
  @media(max-width: 585px) {
    margin-bottom: 24px;
  }
}

.breadcrumb-link {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--secondary-text);
  transition: var(--animation-transition);
}

.breadcrumb-link:focus,
.breadcrumb-link:hover {
  color: var(--primary-text);
  background-color: inherit;
  outline: none;
  box-shadow: none;
}

.breadcrumb-item {
  outline: none;
  border: none;
  display: flex;
}
.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}

.breadcrumb-item:not(:last-child) {
  margin-right: 12px;
}

.page-item-mobile {
  display: none;

  @media(max-width: 1176px) {
    display: flex;
    margin-right: 12px;
  }
}

.breadcrumb-item:hover .breadcrumb-link,
.breadcrumb-item:focus .breadcrumb-link {
  color: var(--primary-text);
  background-color: inherit;
  outline: none;
  box-shadow: none;
}
