
.primary-button {
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: 5px;
  padding: 14px 32px;
  text-align: center;
  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
    width: 100%;
    padding: 12px 8px;
  }
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--secondary-green);
  color: var(--white);
}

.grey-button {
  display: inline-block;
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;
  line-height: 22px;
  padding: 14px 32px;
  text-align: center;
  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
    padding: 12px 8px;
    width: 100%;
  }
}

.grey-button:hover,
.grey-button:focus {
  background-color: var(--grey-button-hover);
}

.text-link {
  display: inline-block;
  color: var(--primary-text);
  background-color: inherit;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }

  &-svg {
    width: 6px;
    height: 12px;
    object-fit: cover;
    margin-left: 8px ;
    transition: var(--animation-transition);
  }
}

.text-link:hover,
.text-link:hover .text-link-svg .text-link:focus,
.text-link:focus .text-link-svg {
  color: var(--primary-green);
  font-weight: bold;
}


.black-color-link:hover,
.black-color-link:hover svg {
  color: var(--secondary-text);
}


.grey-color-link:hover,
.grey-color-link:hover svg {
  color: var(--primary-text);
}

.btn-close {
  outline: none;

}
.btn-close:hover,
.btn-close:focus {
  box-shadow: none;
  color: var(--primary-text);
}
