.large__button-grey {
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 392px;
  grid-column: span 4;
  transition: var(--animation-transition);

  @media(max-width: 1176px) {
    grid-column: span 6;
    padding: 16px 12px;
    font-size: 14px;
    line-height: 19px;
  }

  @media(max-width: 585px) {
    grid-column: span 12;
    // padding: 16px 12px;
  }
}

.large__button-grey span {
  text-align: start;
  display: inline-block;
  margin-right: 12px;
}

.large__button-grey:hover,
.large__button-grey:focus {
  background-color: var(--grey-button-hover);
}

.large__button-svg {
  margin: 0 0 0 93px !important;
}

.primary-button {
  background-color: var(--primary-green);
  color: var(--white);
  border-radius: 5px;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--secondary-green);
  color: var(--white);
}

.grey-button {
  display: inline-block;
  background-color: var(--grey-button);
  color: var(--primary-text);
  border-radius: 5px;
  line-height: 22px;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.grey-button:hover,
.grey-button:focus {
  background-color: var(--grey-button-hover);
}

.black-button {
  display: inline-block;
  background-color: var(--primary-text);
  color: var(--white);
  border-radius: 5px;
}


.text-link {
  display: inline-block;
  color: var(--primary-green);
  background-color: inherit;

  @media(max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }

  &-svg {
    width: 6px;
    height: 12px;
    object-fit: cover;
    margin-left: 8px ;
    transition: var(--animation-transition);
  }
}

.text-link:hover,
.text-link:hover .text-link-svg .text-link:focus,
.text-link:focus .text-link-svg {
  color: var(--secondary-green);
}


.black-color-link:hover,
.black-color-link:hover svg {
  color: var(--secondary-text);
}


.grey-color-link:hover,
.grey-color-link:hover svg {
  color: var(--primary-text);
}

.mobile__app {
  background-color: var(--primary-text);

  @media(max-width: 1176px) {
    margin-bottom: 0 !important;
  }

  &-card {
    background-color: inherit;

    @media(max-width: 585px) {
      grid-template-rows: 1fr 1fr;
    }

    &-left {
      padding: 56px 18% 56px 0;

      @media(max-width: 1176px) {
        padding: 46px 2% 46px 0;
      }

      @media(max-width: 585px) {
        padding: 40px 0 20px 0;
      }
    }

    &-right {
      padding-top: 25px;
    }
  }

  &-title {
    color: var(--primary-grey);
    margin-bottom: var(--mb-24);
  }

  &-description {
    color: var(--primary-grey);
    margin-bottom: var(--mb-40);
  }

}

// .black-color-link {
//   align-items: center;
//   display: flex;
// }
