
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 28px;

  @media(max-width: 1176px) {
    column-gap: 16px;
    row-gap: 32px;
  }

  @media(max-width: 585px) {
    column-gap: 12px;
    row-gap: 24px;
  }
}

.section-with-gradient {
  padding-bottom: 112px;
  background: linear-gradient(180deg, var(--primary-grey) 0%, rgba(244, 246, 248, 0) 100%);

  @media(max-width: 1176px) {
    background: var(--white);
    padding: 0;
  }
}

.padding-large {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.text-section {
  padding-top: 68px;
  padding-bottom: 136px;
  @media(max-width: 1176px) {
    padding-top: 56px;
    padding-bottom: 0;
  }

  @media(max-width: 585px) {
    padding-top: 48px;
   
  }
}

.text-subtitle,
.text-title{
  // @media(max-width: 1176px) {
  //   text-align: center;
  // }
  @media(max-width: 585px) {
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 8px;
  }
}
.privacy h1 {
  margin-bottom: 8px;
}
.privacy h1,
.privacy h2 {
  text-align: center;
}
.section-padding {
  padding-top: 68px;
  padding-bottom: 136px;

  @media(max-width: 1176px) {
    padding-top: 56px;
    padding-bottom: 56px;
    
  }

  @media(max-width: 585px) {
    padding-top: 48px;
    padding-bottom: 48px;
  
  }
}
.analytics-container {
  grid-template-rows: repeat(3, 1fr);
}
