
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 28px;

  @media(max-width: 1176px) {
    column-gap: 16px;
    row-gap: 32px;
  }

  @media(max-width: 585px) {
    column-gap: 12px;
    row-gap: 24px;
  }
}


.section-padding {
  padding-top: 72px;
  padding-bottom: 112px;

  @media(max-width: 1176px) {
    padding-top: 56px;
    padding-bottom: 86px;
    
  }

  @media(max-width: 585px) {
    padding-top: 48px;
    padding-bottom: 68px;
  
  }
}
