@font-face {
                font-family: bootstrap;
                font-display: swap;
                src: url("../fonts/bootstrap-icons.woff2") format("woff2"), url("../fonts/bootstrap-icons.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: gilroy;
                font-display: swap;
                src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: Gilroy;
                font-display: swap;
                src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
                font-weight: 600;
                font-style: normal;
            }
@font-face {
                font-family: Segoe UI;
                font-display: swap;
                src: url("../fonts/Segoe UI.woff2") format("woff2"), url("../fonts/Segoe UI.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
@font-face {
                font-family: RedHatDisplay;
                font-display: swap;
                src: url("../fonts/RedHatDisplay.woff2") format("woff2"), url("../fonts/RedHatDisplay.woff") format("woff");
                font-weight: 400;
                font-style: normal;
            }
