.footer {

  flex: 1 1 auto;

  @media(max-width: 1176px) {
    border: none;
  }


  &__section {
    background-color: var(--primary-grey);
    padding: 72px 0;

    @media(max-width: 1176px) {
      padding: 56px 0;
    }

    @media(max-width: 585px) {
      padding: 48px 0;
    }
  }

  &__nav {
    margin-bottom: 31px;

    @media(max-width: 1176px) {
      margin-bottom: 28px;
    }

    @media(max-width: 585px) {
      display: none;
    }

    &-title {
      margin-bottom: 16px;
    }

    &-services {

      grid-column: 1/ span 3;

      @media(max-width: 1176px) {
        grid-column: 1/ span 3;
      }
    }

    &-adress {

      grid-column: 4/ span 3;

      @media(max-width: 1176px) {
        grid-column: 4/ span 3;
      }
    }

    &-phone {
      grid-column: 10/ span 3;

    }

    &-col {
      display: flex;
      flex-direction: column;
      
      & a:hover {
        color: var(--primary-green);
      }

      & p,
      & a {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &-email {

      grid-column: 7/ span 3;

      @media(max-width: 1176px) {
        grid-column: 7/ span 3;
      }
    }

    &-item:not(:last-child) {
      margin-bottom: 12px;
    }

    &-link {
      font-family: Gilroy, sans-serif;
      color: var(--primary-text);
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      transition: all 0.1s ease-in-out 0.1s;
    }

    &-link:hover,
    &-link:focus {
      color: var(--primary-green);
    }


  }

  &__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
    &-list {
      display: flex;
      align-items: center;

      @media(max-width: 1176px) {
        margin-bottom: 24px;
        flex-wrap: wrap;
      }

      &-item:not(:last-child) {
        margin-right: 30px;

        @media(max-width: 585px) {
          margin-bottom: 8px;
        }
      }
    }

    &-social-list {
      display: flex;
      align-items: center;
    }
  }
}

.social__list-item:not(:last-child) {
  margin-right: 27px;
}

.social__list-icon:hover .svg-vk-dims,
.social__list-icon:focus .svg-vk-dims {
  color: #4C75A3;
}

.social__list-icon {
  display: block;
}

.svg-social {
  transition: var(--animation-transition);
}


.social__list-icon:hover .svg-telegram-logo-dims,
.social__list-icon:focus .svg-telegram-logo-dims {
  color: #0088cc;
}

.social__list-icon:hover .svg-youtube-logo-dims,
.social__list-icon:focus .svg-youtube-logo-dims {
  color: #c4302b;
}

.social__list-icon:hover .svg-twitter-dims,
.social__list-icon:focus .svg-twitter-dims {
  color: #00acee;
}

.social__list-icon:hover .svg-classmates-dims,
.social__list-icon:focus .svg-classmates-dims {
  color: #ed812b;
}

.social__list-icon:hover .svg-vc-dims,
.social__list-icon:focus .svg-vc-dims {
  color: red;

}
