.modal {
  &-block {
    flex: 0 0 auto;
    width: 50%;
    display: none;

    &.open {
      display: block
    }
  }

  &-dialog {
    // max-width: 816px;
    width: 100%;
  }

  &-bg {
    position: fixed;
    background-color: rgba(58, 56, 56, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10
  }

  &-window {
    margin: 5% auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 908px;
    background: var(--white);
    border-radius: 10px;
    position: relative;

    @media(max-width: 1176px) {
      max-width: 80%;
    }

    &-content {
      padding: 26px;

      @media(max-width: 1176px) {
        padding: 12px;
      }
    }

  }
}

.currency-modal-window {
  max-width: 906px;
}

.modal-title {
  margin-bottom: var(--mb-24);
}

//=============модальное окно

.main-consult-modal {
  flex-direction: row;
}

.modal-window-consalt-header {
  width: 344px;
  background-color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding-left: 40px ;
  width: 472px;
}


.close-btn {
  position: absolute;
  right: 26px;
  top: 26px;
  background-color: inherit;

  @media(max-width: 585px) {
    right: 14px;
    top: 17px;
  }
}


.modal-span {
  color: var(--secondary-text);
  margin-bottom: 12px;
  display: inline-block;
}

.modal__form-item,
.form-check {
  margin-bottom: 28px;

}
