@import "../../node_modules/swiper/swiper-bundle.min";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";

@import "normalize";
@import "bootstrap";
@import "bootstrap-icons";
@import "reset";
// @import "choices.min";

@import "modal-window";
@import "display";
@import "pagination";
@import "mixin";
@import "fonts";
@import "root";
@import "buttons";
@import "header";
@import "footer";
@import "accordion";
@import "small__banner";
@import "big__banner";
@import "breadcrumb";
@import "tooltips";

body {
  font-family: Segoe UI, sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--white);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;

  @media (max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-text);
  height: 10px;
  border-radius: 5px;
  width: 4px;
}

main {
  padding-top: 83px;

  @media (max-width: 1176px) {
    padding-top: 84px;
  }

  @media (max-width: 585px) {
    padding-top: 56px;
  }
}

.container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 1176px) {
    max-width: 834px;
    padding: 0 16px;
  }

  @media (max-width: 585px) {
    max-width: 375px;
    padding: 0 12px;
  }
}

h1 {
  margin-bottom: 32px;

  @media (min-width: 1200px) {
    font-size: 48px;
    line-height: 28px;
  }

  @media (max-width: 585px) {
    line-height: 40px;
    font-size: 32px;
  }
}

h2 {
  margin-bottom: 48px;

  @media (min-width: 1200px) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 36px;
  }

  @media (max-width: 585px) {
    line-height: 34px;
    font-size: 24px;
    margin-bottom: 24px;
  }
}

h3 {
  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 28px;
  }

  margin-bottom: var(--mb-24);

  @media (max-width: 1176px) {
    line-height: 28px;
    font-size: 20px;
  }

  @media (max-width: 585px) {
    line-height: 24px;
    font-size: 20px;
  }
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;

  @media (max-width: 585px) {
    font-size: 16px;
    line-height: 30px;
  }
}

.table > :not(caption) > * > * {
  padding: 1rem 0.5rem;
}

td {
  vertical-align: text-top;
}

.nfk-dot-list {
  padding-left: 20px;

  &-item {
    position: relative;
    grid-column: span 6;

    @media (max-width: 1176px) {
      grid-column: span 12;
    }

    @media (max-width: 585px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &-item::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primary-green);
    top: 10px;
    left: -20px;

    @media (max-width: 585px) {
      top: 7px;
      left: -15px;
    }
  }
}

.hero__container {
  padding: 143px 15px 255px 15px;
  background: url("../img/nfk-logo.png") bottom -4rem right / 29% no-repeat,
    url("../img/icons/icons.svg#pioner-logo") bottom -4rem right 11rem/32% no-repeat,
    url("../img/icons/icons.svg#anyPact-logotip") bottom -4rem right 25rem/27% no-repeat;

  @media (max-width: 1176px) {
    padding: 73px 15px 205px 15px;
    background: url("../img/nfk-logo.png") bottom -4rem right / 29% no-repeat,
      url("../img/icons/icons.svg#pioner-logo") bottom -4rem right 8rem/32% no-repeat,
      url("../img/icons/icons.svg#anyPact-logotip") bottom -4rem right 17rem/27%
        no-repeat;
  }

  @media (max-width: 768px) {
    padding: 73px 15px 205px 15px;
    background: url("../img/nfk-logo.png") bottom -4rem right / 32% no-repeat,
      url("../img/icons/icons.svg#pioner-logo") bottom -4rem right 8rem/37% no-repeat,
      url("../img/icons/icons.svg#anyPact-logotip") bottom -4rem right 17rem/34%
        no-repeat;
  }

  @media (max-width: 585px) {
    padding: 73px 15px 205px 15px;
    background: url("../img/nfk-logo.png") bottom -4rem right -3rem /69% no-repeat,
      url("../img/icons/icons.svg#pioner-logo") bottom -4rem right 3rem/78% no-repeat,
      url("../img/icons/icons.svg#anyPact-logotip") bottom -4rem right 10rem/67%
        no-repeat;
  }

  & p {
    font-size: 30px;
    line-height: 22px;
  }
  & h1 {
    margin: 32px 0;
  }
}

.small__banner-about {
  @media (max-width: 585px) {
    grid-template-rows: 1fr 116px;
  }

  & .small__banner-left-text {
    grid-column: 1 / span 9;

    @media (max-width: 585px) {
      // padding: 0;
      grid-column: 1 / span 12;
    }
  }

  & .small__banner-right-img {
    grid-column: 10 / span 3;
    justify-content: flex-end;
    padding-top: 18px;
    padding-right: 0;

    @media (max-width: 585px) {
      padding: 0;
      grid-column: 8 / span 6;
    }
  }
}

.swiper {
  @media (max-width: 768px) {
    padding: 0 23px;
    // overflow: visible;
  }

  // @media(max-width: 585px) {
  //   overflow: visible;
  // }
}

.swiper .grid-container {
  @media (max-width: 768px) {
    display: flex;
    column-gap: 0;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: var(--white);
    box-shadow: 0px 0px 7px rgba(29, 37, 44, 0.11);
    top: 45%;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  width: 8px;
  height: 16px;
  font-size: 16px;
  color: var(--primary-text);
}

.slide {
  grid-column: span 4;
}
.parent__banner-vertical-line {

  & .vertical-line::after,
  & .vertical-line::before {
    content: '';
    background-color: var(--primary-grey);
    margin: 0 auto;
    width: 11px;
    height: 38px;
    position: absolute;
    @media(max-width: 768px) {
      display: none;
    }
  }

  & .vertical-line::after {
    right: -22rem;
    @media(max-width: 1176px) {
      right: -13rem;
    }
  }
  & .vertical-line::before {
    left: -22rem;
    @media(max-width: 1176px) {
      left: -13rem;
    }
  }
}
.parent__banner {
  padding: 32px 42px;
  width: 70%;
  margin: 0 auto;
  // margin-bottom: 36px;

  @media (max-width: 768px) {
    width: 100%;
  }
 
  & .small__banner-left-img {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: 1 / span 6;

    @media (max-width: 768px) {
      grid-row: 1 / span 1;
      align-items: center;
      grid-column: span 12;
    }

    & h3 {
      margin: 0;
      margin-bottom: 1.5rem;
    }

    & .svg-nfksi-big-logo-dims {
      width: 283px;
      height: 90px;
    }
  }

  & .small__banner-right-text {
    grid-column: 7 / span 6;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;

    @media (max-width: 768px) {
      grid-row: 2 / span 1;
      grid-column: span 12;
    }
  }
}

.vertical-line {
  background-color: var(--primary-grey);
  margin: 0 auto;
  width: 11px;
  height: 38px;

  position: relative;

}

.child__banner {
  padding: 36px 24px;
  row-gap: 24px;

  @media (max-width: 768px) {
    padding: 24px 12px;
    grid-template-rows: 1fr;
  }

  // width: 33%;
  & .small__banner-left-img {
    grid-column: 1 / span 12;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;

    @media (max-width: 768px) {
      grid-row: 1 / span 1;
      align-items: center;
    }

    & h3 {
      margin: 0;
      margin-bottom: 1.5rem;
    }

    & img {
      width: 313px;
      height: 90px;

      @media (max-width: 768px) {
        width: 220px;
        height: 62px;
      }
    }
  }

  & .small__banner-right-text {
    grid-column: 1 / span 12;
    padding: 0;

    @media (max-width: 768px) {
      grid-row: 2 / span 1;
    }

    & .nfk-dot-list {
      margin-top: 16px;
    }
  }

  // &:not(:last-child) {
  //   margin-bottom: 36px;
  // }
}

.about__company {
  row-gap: 32px;

  &-description {

    

    grid-column: 1/ span 12;

    font-size: 20px;
    line-height: 28px;

    @media (max-width: 768px) {
      grid-column: span 12;
    }
  }

  & .small__banner {
    grid-column: span 6;
    padding: 32px 24px;

    @media (max-width: 585px) {
      grid-column: span 12;
      grid-template-rows: 1fr;
    }

    & .small__banner-left-text {
      grid-column: span 12;
      padding: 0;
    }
  }
}

.important__history {
  margin-bottom: 209px;
  @media (max-width: 768px) {
    margin-bottom: 96px;
  }
  & h2 {
    margin-bottom: 96px;
    @media (max-width: 768px) {
      margin-bottom: 48px;
    }
  }
}

.progress__bar {
  width: 100%;
  max-width: 1170px;
  height: 4px;
  background-color: var(--primary-grey);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 768px) {
    max-width: 4px;
    height: 554px;
    flex-direction: column;
    margin-left: 19px;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: var(--primary-grey);
    border-radius: 100%;
    width: 12px;
    height: 12px;
    left: 0;
    @media (max-width: 768px) {
      top: 0;
      left: -4px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-top: 4px solid var(--primary-grey);
    border-right: 4px solid var(--primary-grey);
    right: -2px;
    transform: rotate(45deg);
    @media (max-width: 768px) {
      bottom: 0;
      transform: rotate(135deg);
      right: -10px;
    }
  }

  & .progress-step {
    position: relative;
    width: 19px;
    height: 19px;
    background-color: var(--primary-text);
    border-radius: 100%;

    & .date {
      position: absolute;
      top: -40px;
      left: -44px;
      @media (max-width: 768px) {
        top: -29px;
        left: 50px;
        margin: 0;
      }
    }

    & .date-description {
      position: absolute;
      bottom: -120px;
      left: -130px;
      display: inline-block;
      border-radius: 10px;
      background-color: var(--primary-grey);
      padding: 24px 16px;
      width: 313px;

      @media (max-width: 1176px) {
        width: 200px;
        left: -85px;
      }
      @media (max-width: 768px) {
        top: 34px;
        left: 50px;
        width: 260px;
        display: inline-table;
      }
    }
  }

  & .progress-step:nth-child(2) {
    margin: 0 30%;
    @media (max-width: 768px) {
      margin: 10rem 0;
    }
  }
}

.management {
  & h2 {
    margin-bottom: 48px;
  }

  & .nfk-dot-list {
    display: flex;
    align-items: center;

    @media (max-width: 585px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  & .nfk-dot-list-item:not(:last-child) {
    margin: 0 104px 0 0;
  }

  & .nfk-dot-list-item::before {
    top: 9px;
  }
}

.composition-of-shareholders {
  &-header {
    padding: 16px 0 16px 48px;
    @media (max-width: 585px) {
      padding: 16px 0 16px 16px;
    }
    & span:not(:last-child) {
      margin-right: 26%;
      @media (max-width: 1176px) {
        margin-right: 17%;
      }
      @media (max-width: 768px) {
        margin-right: 11%;
      }
    }
  }

  & .small__banner {
    padding: 36px 0 36px 48px;
    @media (max-width: 585px) {
      padding: 24px 0 86px 16px;
      grid-template-rows: 1fr;
    }
    & .small__banner-left-text {
      padding: 0;
      grid-column: 1 / span 3;
      @media (max-width: 585px) {
        grid-column: 1 / span 6;
      }
    }

    & .small__banner-right-img {
      padding: 0;
      align-items: center;
      grid-column: 6 / span 3;
      justify-content: flex-start;
      @media (max-width: 585px) {
        grid-row: 1 / span 1;
        grid-column: 7 / span 6;
        align-items: flex-start;
        justify-content: center;
      }

      & span {
        font-family: Gilroy, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 22px;
        @media (max-width: 585px) {
          font-size: 48px;
        }
      }
    }
  }

  & .small__banner:not(:last-child) {
    margin-bottom: 16px;
  }

  & .pioner__banner {
    background-image: url("../img/icons/icons.svg#pioner-logo");
    background-repeat: no-repeat;
    background-position: right -2rem bottom -2rem;
    background-size: 12%;
    @media (max-width: 1176px) {
      background-size: 18%;
    }
    @media (max-width: 768px) {
      background-size: 22%;
    }
    @media (max-width: 585px) {
      background-size: 38%;
    }
  }

  & .nfk__banner {
    background-image: url("../img/icons/icons.svg#nfk-logo");
    background-repeat: no-repeat;
    background-position: right -2rem bottom -2rem;
    background-size: 12%;
    @media (max-width: 1176px) {
      background-size: 18%;
    }
    @media (max-width: 768px) {
      background-size: 22%;
    }
    @media (max-width: 585px) {
      background-size: 38%;
    }
  }
}

.person {
  .small__banner {
    grid-column: span 6;
    @media (max-width: 768px) {
      grid-column: span 12;
      grid-template-rows: 100px 1fr;
    }

    & .small__banner-left-img {
      grid-column: 1 / span 6;
      @media (max-width: 768px) {
        grid-column: span 12;
        justify-self: flex-end;
      }
    }

    & .small__banner-right-text {
      grid-column: 7 / span 6;
      @media (max-width: 768px) {
        grid-column: span 8;
      }
    }
  }
}

.info-footnotes p:not(:last-child) {
  margin-bottom: var(--mb-24);
}

.info-footnotes a {
  display: contents;
}

.block__margin-bottom {
  margin-bottom: 72px;

  @media (max-width: 1176px) {
    margin-bottom: 56px;
  }

  @media (max-width: 585px) {
    margin-bottom: 48px;
  }
}

.mb-48 {
  margin-bottom: 48px;

  @media (max-width: 1176px) {
    margin-bottom: 36px;
  }

  @media (max-width: 585px) {
    margin-bottom: 24px;
  }
}

input::placeholder {
  color: var(--secondary-text);
}

.primary-text-color {
  color: var(--primary-text);
}

.secondary-text-color {
  color: var(--secondary-text);
}

.primary-text {
  color: var(--primary-text);
  font-size: 14px;
  line-height: 19px;
}

.primary-text-market {
  color: var(--primary-text);
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 585px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.secondary-text {
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 19px;
}

.weight-text {
  font-family: gilroy;
  color: var(--primary-text);
  font-weight: 700;
  line-height: 22px;
}

.text-center {
  text-align: center;
}

//======левуый аппостроф

.text-indent {
  text-indent: 10px;

  @media (max-width: 585px) {
    text-indent: 8px;
  }
}

sup {
  vertical-align: super;
  font-size: 8px;

  @media (max-width: 585px) {
    font-size: 7px;
  }
}

//======Синий блок информации
.important__block {
  display: flex;
  align-items: center;
  background-color: #e8f1fe;
  border-radius: 5px;
  border-left: 5px solid var(--primary-blue);
  padding: 26px 166px 26px 35px;

  @media (max-width: 1176px) {
    padding: 26px 118px 26px 35px;
  }

  @media (max-width: 585px) {
    padding: 16px 12px 16px 8px;
  }

  &-description {
    font-size: 14px;
    line-height: 19px;

    @media (max-width: 585px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.svg-important-dims {
  width: 46px;
  height: 46px;
  margin-right: 28px;

  @media (max-width: 1176px) {
    width: 46px;
    height: 46px;
  }

  @media (max-width: 585px) {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }
}

.important__description-link {
  display: inline-block;
  color: var(--primary-blue);
  position: relative;
  transition: var(--animation-transition);

  @media (max-width: 585px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.important__description-link:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--primary-blue);
  content: "";
  transition: var(--animation-transition);
}

.important__description-link:hover:after,
.important__description-link:focus:after {
  width: 100%;
}

.important__description-link:hover {
  color: var(--primary-blue);
}

//========Ссылка на файл
.electronic__files-item {
  grid-column: span 4;
  // display: flex;
  // align-items: center;

  @media (max-width: 585px) {
    grid-column: span 12;
  }
}

.documents__links {
  & img {
    transition: all 0.2s ease-in-out 0s;
    max-width: 75%;
    @media (max-width: 585px) {
      max-width: 100%;
    }
  }
  & .grid-container {
    @media (max-width: 585px) {
      row-gap: 48px;
    }
  }
  & li {
    display: flex;
    align-items: center;
  }

  & li:hover img {
    transform: scale(1.2);
  }
}

.get__file-link {
  display: flex;
  max-width: 750px;
  align-items: center;
  transition: var(--animation-transition);
  text-align: start;
  position: relative;

  .file-link-svg-container {
    position: relative;
  }
}

.file-link-svg-container span {
  color: var(--primary-green);
  position: absolute;
  font-size: 12px;
  top: 15px;
  left: 7px;

  @media (max-width: 585px) {
    left: 22px;
    top: 18px;
  }
}

.svg-file-download-dims {
  color: var(--primary-green);

  @media (max-width: 585px) {
    width: 78px;
  }
}

.get__file-link:hover .svg-file-download-dims,
.get__file-link:focus .svg-file-download-dims,
.get__file-link:hover .file-link-svg-container span,
.get__file-link:focus .file-link-svg-container span {
  color: #3eb30f;
}

.get__file-link:hover .brief-info,
.get__file-link:focus .brief-info {
  color: #3eb30f;
}

.file__link-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 18px;

  & span:nth-child(1) {
    flex: 1 1 100%;
    transition: var(--animation-transition);
  }

  & span:not(:first-child),
  & span:not(:last-child) {
    margin-right: 12px;
  }
}

//========
.pioner__lising-page {
}

.nav-pills {
  justify-content: center;

  @media (max-width: 1176px) {
    justify-content: center;
  }
}

.nav-item {
  grid-column: span 3;

  @media (max-width: 1176px) {
    grid-column: span 6;
  }

  // @media(max-width: 585px) {
  //   grid-column: span 12;
  // }

  & button {
    width: 283px;

    @media (max-width: 1176px) {
      width: 100%;
    }
  }
}
.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.nav-pills .nav-link {
  border-radius: 40px;
  background-color: var(--primary-grey);
  color: var(--primary-text);
  padding: 16px 24px;
  min-height: 74px;
  @media (max-width: 585px) {
    font-size: 12px;
  }
}

.nav-pills .nav-link.active {
  background-color: var(--primary-text);
  color: var(--white);
}

.buttons__block {
  display: flex;
  justify-content: center;

  & button:not(:last-child) {
    margin-right: 24px;
  }
}

.others-page__banner {
  @media (max-width: 585px) {
    grid-template-rows: 1fr 129px;
  }

  & .small__banner-left-text {
    grid-column: 1 / span 8;

    @media (max-width: 585px) {
      grid-column: 1 / span 12;
    }
  }

  & .small__banner-right-img {
    grid-column: 9 / span 4;
    padding: 0;
    background: url("../img/icons/icons.svg#pioner-logo") bottom -2rem right -4rem/54%
        no-repeat,
      url("../img/icons/icons.svg#nfk-logo") bottom -1rem right 4rem /49%
        no-repeat;

    @media (max-width: 1176px) {
      background: url("../img/icons/icons.svg#pioner-logo") bottom -2rem right -4rem/74%
          no-repeat,
        url("../img/icons/icons.svg#nfk-logo") bottom -1rem right 50px /67%
          no-repeat;
    }

    @media (max-width: 850px) {
      background: url("../img/icons/icons.svg#pioner-logo") bottom -2rem right -4rem/87%
          no-repeat,
        url("../img/icons/icons.svg#nfk-logo") bottom -1rem right 50px /77%
          no-repeat;
    }

    @media (max-width: 585px) {
      grid-column: 1 / span 12;
      background: url("../img/icons/icons.svg#pioner-logo") bottom -2rem right -4rem/57%
          no-repeat,
        url("../img/icons/icons.svg#nfk-logo") bottom -1rem right 30px /47%
          no-repeat;
    }
  }
}

.options {
  & .small__banner {
    padding: 32px 24px;
    grid-column: span 4;

    @media (max-width: 850px) {
      grid-column: span 12;
    }

    @media (max-width: 585px) {
      grid-template-rows: 1fr;
    }

    & p {
      grid-column: span 12;
    }
  }
}

.cheb-map {
  width: 100%;
  height: 400px;
}

.contacts {
  &__section {
    padding-bottom: 112px;

    @media (max-width: 1176px) {
      padding-bottom: 0;
    }
  }

  &__company-subtitle {
    margin-bottom: var(--mb-24);
  }

  &__cheb-title,
  &__msk-title {
    margin-bottom: 16px;
  }

  &__img-wrapper {
    position: relative;
    margin-bottom: var(--mb-40);
    margin-top: 32px;

    @media (max-width: 585px) {
      margin-top: 24px;
      height: 424px;
    }
  }

  &__company-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 60%;

    @media (max-width: 850px) {
      max-width: 100%;
    }

    @media (max-width: 585px) {
      flex-direction: column;
    }
  }

  &__company-wrapper-el:not(:last-child) {
    margin-right: 5px;
  }

  &__company-tel {
    margin-right: 138px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (max-width: 1176px) {
      margin: 0;
    }

    @media (max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &__company-schedule {
    margin-right: 138px;

    @media (max-width: 1176px) {
      margin: 0;
    }

    @media (max-width: 585px) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }
}

.cheb-marker {
  color: #dd270f;
  position: absolute;
  left: 48%;
  top: 46%;
}

.company__requisites {
  &-list {
    display: flex;
    flex-direction: column;

    &-item:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
